[submodule "IcarianNative/lib/VulkanMemoryAllocator"]
	path = IcarianNative/lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "IcarianNative/lib/glslang"]
	path = IcarianNative/lib/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "deps/flare-glm"]
	path = deps/flare-glm
	url = https://github.com/rGovers/flare-glm.git
[submodule "deps/flare-stb"]
	path = deps/flare-stb
	url = https://github.com/rGovers/flare-stb.git
[submodule "deps/flare-tinyxml2"]
	path = deps/flare-tinyxml2
	url = https://github.com/rGovers/flare-tinyxml2.git
[submodule "IcarianNative/lib/JoltPhysics"]
	path = IcarianNative/lib/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "deps/CUBE"]
	path = deps/CUBE
	url = https://github.com/rGovers/CUBE.git
[submodule "deps/miniz"]
	path = deps/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "IcarianNative/lib/enet"]
	path = IcarianNative/lib/enet
	url = https://github.com/lsalzman/enet.git
[submodule "deps/KTX-Software"]
	path = deps/KTX-Software
	url = https://github.com/rGovers/KTX-Software.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "IcarianNative/lib/minimp4"]
	path = IcarianNative/lib/minimp4
	url = https://github.com/lieff/minimp4.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/Vulkan-Headers"]
	path = deps/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "IcarianNative/lib/miniaudio"]
	path = IcarianNative/lib/miniaudio
	url = https://github.com/mackron/miniaudio.git
